<div class="login-container">
  <div class="header">
    <img src="assets/logo-white.png" alt="logo" class="logo" height="91" width="114"/>
  </div>

  <div class="login-background">
    <div class="login-title">
      <h1>Bem vindo!</h1>
      <p class="subtitle">Pronto para economizar?</p>
    </div>

    <form>
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        name="email"
        placeholder="email@exemplo.com"
        required
      />

      <label for="password">Senha</label>
      <input
        id="password"
        type="password"
        name="password"
        placeholder="••••"
        required
      />

      <a href="#" class="forgot-password">Esqueceu sua senha?</a>
    </form>

    <div class="buttons">
      <button type="submit" class="btn primary">Entrar</button>
      <div class="divider">ou</div>
      <button class="btn google">Entrar com Google</button>
    </div>
    <p class="signup">
      Não tem uma conta? <a href="#">Crie uma</a>
    </p>
  </div>
</div>
