<div class="login-container">
  <div class="header">
    <img src="assets/logo-white.png" alt="logo" class="logo" height="91" width="114"/>
  </div>

  <div class="login-background">
    <div class="login-title">
      <h1>Bem vindo!</h1>
      <p class="subtitle">Pronto para economizar?</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        name="email"
        placeholder="email@exemplo.com"
        formControlName="email"
        [ngClass]="message ? 'error' : ''"
      />

      <label for="password">Senha</label>
      <input
        id="password"
        type="password"
        name="password"
        placeholder="••••"
        formControlName="password"
        [ngClass]="message ? 'error' : ''"
      />

      <div *ngIf="message" class="message-container">
        <p class="message">{{message}}</p>
      </div>

      <a href="#" class="forgot-password">Esqueceu sua senha?</a>

      <div class="buttons">
        <button class="btn primary">Entrar</button>
        <div class="divider">ou</div>
        <button class="btn google">Entrar com Google</button>
      </div>
    </form>

    <p class="signup">
      Não tem uma conta? <a href="#">Crie uma</a>
    </p>
  </div>
</div>
