$green: #2ECC71;
$bold-text: #2D2D2D;
$text: #464646;

.login-container {
  // MAIN
  overflow-x: hidden;
  box-sizing: border-box;
  max-width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
  text-align: center;
  background-color: $green;

  // LOGO
  .logo {
    width: 113px;
    margin: 2.8rem auto;
    padding-right: 20px;
  }

  // LOGIN BACKGROUND (white)
  .login-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 2.5rem 2rem;

    background-color: #FFFFFF;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: $bold-text;
  }

  .subtitle {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: $text;
  }

  // LOGIN FORM
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    max-width: 360px;


    label {
      align-self: flex-start;
      margin-bottom: 0.1rem;
      font-size: 1.125rem;
      font-weight: 600;
      color: $text;
    }

    input {
      width: 100%;
      height: 1.5rem;
      padding: 0.75rem 1.5rem;
      margin-bottom: 1.5rem;

      font-size: 1rem;
      font-weight: 500;
      color: $text;

      background-color: #F2F2F2;
      border: 1px solid #ffffff;
      border-radius: 40px;
      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);

      transition: box-shadow 0.6s ease, transform 0.6s ease, box-shadow 0.3s ease;

      &:hover {
        box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.25);
      }

      &::placeholder {
        color: #C7C7C7;
        transition: color 0.8s ease;
      }

      &:focus {
        border-color: $green;
        box-shadow: 0 0 0 2px rgba(46, 204, 113, 0.2); // efeito glow
        outline: none;
        color: $text;

        &::placeholder {
          opacity: 0;
          color: $text;
        }
      }

      &.error {
        border: 2px solid red;
        background-color: #fff0f0;
      }
    }

    .message-container {
      margin-top: 0;
      margin-bottom: 1.5rem;
      .message {
        font-size: 1rem;
        font-weight: 500;
        color: red;
      }
    }

    .forgot-password {
      font-size: 1rem;
      font-weight: 500;
      color: $text;
      text-align: center;
    }

    input.ng-touched.ng-invalid{
      border: 2px solid red;
      background-color: #fff0f0;
    }
  }

  // BUTTONS
  .buttons {
    width: 90%;
    max-width: 360px;
    margin-top: 2rem;

    .btn {
      width: 100%;
      height: 4rem;
      padding: 0.75rem;

      font-size: 1.125rem;
      font-weight: 600;
      color: white;

      border: none;
      border-radius: 25px;
      cursor: pointer;
      transition: background-color 0.6s ease, transform 0.6s ease, box-shadow 0.3s ease;

      &.primary {
        background-color: $green;

        // "Entrar" button selected
        &:hover {
          background-color: #27AE60;
        }
        // "Entrar" button clicked
        &:active {

        }
      }
      &.google {
        background-color: #272727;
        // "Google" button selected
        &:hover {
          background-color: #3a3a3a;
        }
        // "Google" button clicked
        &:active {

        }
      }
    }

    .divider {
      margin: 0.3rem 0;
      font-size: 1rem;
      color: $text;
    }
  }

  // SIGN UP
  .signup {
    margin-top: 2rem;

    a {
      color: #2e81f4;
      font-weight: 600;
      text-decoration: none;
    }
  }
}
